* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 960px;
  margin: 0 auto;
  min-width: 250px;
  padding: 30px;
  background: #34495e;
}

input.classic-btn {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  color: black;
  line-height: 10px;
  margin: 3%;
  padding: 11px 11px;
  text-decoration: none;
  transition-duration: .4s;
}

input.classic-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input.normal-btn:hover {
  /*   background-color: #54A0CC; */
  background-color: #007fbe;
  color: white;
}

h4 {
  font-weight: bold;
}

p.answers {
  font-style: italic;
}

label.answers {
  display: block;
  padding: 6px;
  border-radius: 6px;
  border: solid 1px #dde7e8;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}

input[type=radio] {
  margin: 4px 0 0;
  line-height: normal;
  box-sizing: border-box;
}

.quizTitle {
  background: #007fbe;
  color: #FFF;
  /*  font-size: 22px; */
  padding: 8px 30px;
  font-weight: 300;
  margin: 0 -30px 10px;
  position: relative;
}

.title-section {
  background: white;
  display: block;
  border: solid 1px #ffffff;
  padding: 10px 20px 0px;
  border-radius: 3px;
  margin: 0 10px;
}

.start-section, .quiz-section, .result-section {
  background: white;
  display: block;
  border: solid 1px #ffffff;
  padding: 10px 20px 0px;
  border-radius: 3px;
  margin: 0 10px;
  margin-top: 10px;
}

.questionContainer {
  /* background: #007fbe; */
  background: #BF0A30;
  color: #FFF;
  padding: 8px 30px;
  font-weight: 300;
  margin: 0 -30px 10px;
  position: relative;
}

#try-again {
  margin-top: 10px;
  margin-bottom: 10px;
}
